@import './_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;

    font-family: "Outfit", sans-serif;
    // font-size: 22px;
    // font-weight: normal;
    color: white;

    background-color: $background-color;
}
button{
    border: none;
}
p {
    margin: 0; // muy importante: quitar márgenes de <p>
  }