.hero {
  position: relative;
  height: 85vh;
  background-image: url('../assets/hero-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  color: white;
  
    &__container{
    padding-top: 200px;

    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.30); // negro con 20% opacidad
      z-index: 1;
    }
  
    // Todo el contenido dentro de .hero debe estar por encima
    > * {
      position: relative;
      z-index: 2;
    }

    p{
        max-width: 640px;
        font-weight: normal;
    }

    &__actions{
      // background-color: purple;
      display: flex;
      gap: 20px;
    }

    &__radial-gradient{
      position: absolute;
      height: 100%;
      width: 100%;

      background: radial-gradient(
        circle at left center,
        rgba(0, 0, 0, 0.73) 0%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  .new{
    // background-color: red;
    position: relative;
    z-index: 5;
    padding-left: 20px;
    margin-top: -100px;

    background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 1) 70%,
      rgba(120, 120, 120, 0) 90%
    );

    #newShowsSlider{
      position: relative;
      display: flex;
      gap: 25px;

      overflow-x: scroll;
      /* Firefox */
      scrollbar-width: none;
      /* IE 10+ y Edge */
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    #newShowsContainer{
      // background-color: purple;
      position: relative;
    }
    #sliderShadow{
      // background-color: cyan;

      position: absolute;
      z-index: 5;
      max-width: 280px;
      // max-height: 350px;
      width: 100%;
      height: 100%;
      right: -12px;
      top: 0;

      background: linear-gradient(
        270deg,
        rgba(18, 18, 18, 1) 13%,
        rgba(120, 120, 120, 0) 100%
      );
    }

    .new-card{
      img{
        height: 280px;
      }
    }

}
